.header {
  text-align: center;
  background: black;
}


.header h2 {
  padding: 1rem;
  font-size: 4rem;
  color: aliceblue;
}

.header--container {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-nav {
  position: relative;
}

.main-nav--searcher {
  font-size: 1rem;
  padding: 1rem;
  width: 35rem;
  height: 3rem;
  border-radius: 1rem;
  border: none;
}